body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to right, #957DAD, #D291BC, #FEC8D8, #FFDFD3); /* Faded purple to blue gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#dashboard {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

h1 {
    color: #333;
}

button, select {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover, select:hover {
    background-color: #ccc;
}

#results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.results-day {
    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
